iArsenal.Service/Service References/Arsenal/arsenalservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.arsenal.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.arsenal.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.arsenal.cn/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetMatchs">
        <s:complexType />
      </s:element>
      <s:element name="GetMatchsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchsResult" type="tns:ArrayOfMatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Match">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfGuid">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TeamGuid" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="TeamName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsHome" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ResultHome" nillable="true" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="ResultAway" nillable="true" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="ResultInfo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PlayTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LeagueGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="LeagueName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Round" nillable="true" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="GroupGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="CasinoMatchGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportImageURL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportURL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TopicURL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityOfGuid" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:Viewer">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Viewer" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPlayers">
        <s:complexType />
      </s:element>
      <s:element name="GetPlayersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlayersResult" type="tns:ArrayOfPlayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPlayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Player">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfGuid">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrintingName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Position" type="tns:PlayerPostionType" />
              <s:element minOccurs="1" maxOccurs="1" name="SquadNumber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FaceURL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhotoURL" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLegend" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLoan" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Birthday" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Born" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Starts" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Subs" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Apps" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Goals" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="JoinDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Joined" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeftYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Debut" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstGoal" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PreviousClubs" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Profile" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="PlayerPostionType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Goalkeeper" />
          <s:enumeration value="Defender" />
          <s:enumeration value="Midfielder" />
          <s:enumeration value="Forward" />
          <s:enumeration value="Coach" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetTeams">
        <s:complexType />
      </s:element>
      <s:element name="GetTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamsResult" type="tns:ArrayOfTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Team">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfGuid">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TeamEnglishName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TeamDisplayName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TeamLogo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TeamNickName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Founded" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ground" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Capacity" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Chairman" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Manager" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LeagueGuid" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="LeagueCountInfo" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTeamsByLeagueGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeamsByLeagueGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamsByLeagueGuidResult" type="tns:ArrayOfTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeagues">
        <s:complexType />
      </s:element>
      <s:element name="GetLeaguesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeaguesResult" type="tns:ArrayOfLeague" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeague">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="League" nillable="true" type="tns:League" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="League">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfGuid">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LeagueName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeagueOrgName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeagueSeason" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LeagueTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="LeagueLogo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LeagueOrder" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="TeamCountInfo" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="LeagueNameInfo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetVideos">
        <s:complexType />
      </s:element>
      <s:element name="GetVideosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVideosResult" type="tns:ArrayOfVideo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVideo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Video">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfGuid">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ArsenalMatchGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="GoalPlayerGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="GoalPlayerName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="AssistPlayerGuid" nillable="true" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="AssistPlayerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GoalRank" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TeamworkRank" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="VideoType" type="tns:VideoFileType" />
              <s:element minOccurs="1" maxOccurs="1" name="VideoLength" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VideoWidth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VideoHeight" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GoalYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Opponent" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VideoFilePath" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="VideoFileType">
        <s:restriction base="s:string">
          <s:enumeration value="flv" />
          <s:enumeration value="mp4" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMatchsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatchs" />
  </wsdl:message>
  <wsdl:message name="GetMatchsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlayersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="GetPlayersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeams" />
  </wsdl:message>
  <wsdl:message name="GetTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamsByLeagueGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeamsByLeagueGuid" />
  </wsdl:message>
  <wsdl:message name="GetTeamsByLeagueGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamsByLeagueGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaguesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeagues" />
  </wsdl:message>
  <wsdl:message name="GetLeaguesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeaguesResponse" />
  </wsdl:message>
  <wsdl:message name="GetVideosSoapIn">
    <wsdl:part name="parameters" element="tns:GetVideos" />
  </wsdl:message>
  <wsdl:message name="GetVideosSoapOut">
    <wsdl:part name="parameters" element="tns:GetVideosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceArsenalSoap">
    <wsdl:operation name="GetMatchs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.Match.Cache.MatchList</wsdl:documentation>
      <wsdl:input message="tns:GetMatchsSoapIn" />
      <wsdl:output message="tns:GetMatchsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.Player.Cache.PlayerList</wsdl:documentation>
      <wsdl:input message="tns:GetPlayersSoapIn" />
      <wsdl:output message="tns:GetPlayersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.Team.Cache.TeamList</wsdl:documentation>
      <wsdl:input message="tns:GetTeamsSoapIn" />
      <wsdl:output message="tns:GetTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamsByLeagueGuid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.Team.Cache.GetTeamsByLeagueGuid(Guid guid)</wsdl:documentation>
      <wsdl:input message="tns:GetTeamsByLeagueGuidSoapIn" />
      <wsdl:output message="tns:GetTeamsByLeagueGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.League.Cache.LeagueList</wsdl:documentation>
      <wsdl:input message="tns:GetLeaguesSoapIn" />
      <wsdl:output message="tns:GetLeaguesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Arsenal.Service.Video.Cache.VideoList</wsdl:documentation>
      <wsdl:input message="tns:GetVideosSoapIn" />
      <wsdl:output message="tns:GetVideosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceArsenalSoap" type="tns:ServiceArsenalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMatchs">
      <soap:operation soapAction="http://www.arsenal.cn/GetMatchs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://www.arsenal.cn/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap:operation soapAction="http://www.arsenal.cn/GetTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamsByLeagueGuid">
      <soap:operation soapAction="http://www.arsenal.cn/GetTeamsByLeagueGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <soap:operation soapAction="http://www.arsenal.cn/GetLeagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <soap:operation soapAction="http://www.arsenal.cn/GetVideos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceArsenalSoap12" type="tns:ServiceArsenalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMatchs">
      <soap12:operation soapAction="http://www.arsenal.cn/GetMatchs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap12:operation soapAction="http://www.arsenal.cn/GetPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap12:operation soapAction="http://www.arsenal.cn/GetTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamsByLeagueGuid">
      <soap12:operation soapAction="http://www.arsenal.cn/GetTeamsByLeagueGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <soap12:operation soapAction="http://www.arsenal.cn/GetLeagues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <soap12:operation soapAction="http://www.arsenal.cn/GetVideos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArsenal">
    <wsdl:port name="ServiceArsenalSoap" binding="tns:ServiceArsenalSoap">
      <soap:address location="http://localhost:6421/Webservice/ArsenalService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceArsenalSoap12" binding="tns:ServiceArsenalSoap12">
      <soap12:address location="http://localhost:6421/Webservice/ArsenalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>